---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <header>
        <a href="/" class="header-tab">
            <h2>开放平台</h2>
        </a>
        <a href="/">
            <h1 class="header-title">{{ site.title }}</h1>
            <h2 class="header-tagline">致力于为大学新生提供全方位指南</h2>
        </a>
        <a href="/" class="header-tab">
            <h2>官方平台</h2>
        </a>
    </header>

    <div id="main">

        {{content}}

        {% include footer.html %}

    </div>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    {% include analytics.html %}

</body>

</html>